.button-button {
  display: flex;
  padding: 14px 20px;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: transparent;
  padding-left: 14px 20px;
  border-radius: 50px;
  padding-bottom: 14px 20px;
  background-color: rgba(20, 241, 149, 1);
}
.button-button:hover {
  background: #6610F2;
}
.button-text {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
